@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lateral {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #6b6d6a;
    width: 350px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

img {
    width: auto;
    height: 60px;
    margin: 20px;
}

a {
    text-decoration: none;
    padding-left: 10px;
}

li {
    list-style-type: none;
}

.item a {
    display: flex;
    align-items: center;
    color: #2f3f2e;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    transition: background 0.3s;
}

.item a:hover {
    font-weight: 400;
    color: #4e684c;
    background: #4e5e4ea4;
}


/* Sair */

#sair {
    display: flex;
    margin-top: auto;
    padding: 20px;
}

#sair a {
    color: #2f3f2e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}